doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  if user && user.group == "staff"
    script(src="javascripts/perfbar.js", defer, async)
      